/* Style de la barre de navigation en ligne */
nav {
    display: flex;
    justify-content: center;
    background-color: #444;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: inline;
    margin: 0 20px;
}

/* Changement de la police en Roboto */
body {
    font-family: 'Roboto', sans-serif;
}

/* Ajout d'attributs de classes aux éléments HTML */
.header {
    color: #ed1313;
    padding: 10px 0;
    text-align: center;
}

.footer {
    background-color: black;
    color: #f60202;
    text-align: center;
    padding: 10px 0;
}

.section {
    padding: 20px;
}

